.list-item {
  display: flex;
  height: 48px;
  align-items: center;
}

.list-item.list-two-line {
  height: 72px;
}

.list-item > div {
  flex: 1;
  margin: 0 16px;
}

.list-item .icon {
  flex: none;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.list-item.list-placeholder {
  justify-content: center;
  margin-bottom: -48px;
}
